<div class="strefy">
  <div class="strefy__items" [ngClass]=[display]>

    <div class="strefy__item">
      <p>brak</p>
      <div class="strefy__color strefy__color--1"></div>
    </div>
    <div class="strefy__item">
      <p>0</p>
      <div class="strefy__color strefy__color--2"></div>
    </div>
    <div class="strefy__item">
      <p>10</p>
      <div class="strefy__color strefy__color--3"></div>
    </div>
    <div class="strefy__item">
      <p>20</p>
      <div class="strefy__color strefy__color--4"></div>
    </div>
    <div class="strefy__item">
      <p>30</p>
      <div class="strefy__color strefy__color--5"></div>
    </div>
    <div class="strefy__item">
      <p>40</p>
      <div class="strefy__color strefy__color--6"></div>
    </div>
    <div class="strefy__item">
      <p>50</p>
      <div class="strefy__color strefy__color--7"></div>
    </div>
    <div class="strefy__item">
      <p>60</p>
      <div class="strefy__color strefy__color--8"></div>
    </div>
    <div class="strefy__item">
      <p>70</p>
      <div class="strefy__color strefy__color--9"></div>
    </div>
    <div class="strefy__item">
      <p>80</p>
      <div class="strefy__color strefy__color--10"></div>
    </div>
    <div class="strefy__item">
      <p>90</p>
      <div class="strefy__color strefy__color--11"></div>
    </div>
    <div class="strefy__item">
      <p>100</p>
      <div class="strefy__color strefy__color--12"></div>
    </div>
  </div>
  <div (click)="showItems()" class="strefy__item strefy__item--p">
    <p>Legenda stref</p>
    <button  [ngClass]=[rotate]><i class="fas fa-chevron-down"></i></button>
  </div>


</div>

